:root {
  /* --- Everforest Dark Hard Theme --- */
  --fg: #D3C6AA;
  --red: #E67E80;
  --orange: #E69875;
  --yellow: #DBBC7F;
  --green: #A7C080;
  --blue: #7FBBB3;
  --aqua: #83C092;
  --purple: #D699B6;
  --dim: #1E2326;
  --bg-0: #272E33;
  --bg-1: #2E383C;
  --bg-2: #374145;
  --bg-3: #414B50;
  --bg-4: #495156;
  --bg-5: #4F5B58;
  --bg-red: #4C3743;
  --bg-green: #3C4841;
  --gray-0: #7A8478;
  --gray-1: #859289;
  --gray-2: #9DA9A0;
}

* {
  font-size: 12px;
  font-weight: 800;
  font-family: "JetBrainsMono NF";
  color: var(--gray-2);
}

/* --- YASB Bar --- */
.yasb-bar {
  background-color: rgba(39, 46, 51, 0.5);
}

/* --- Global ToolTip --- */
.tooltip {
  background-color: rgba(39, 46, 51, 0.9);
  border-radius: 4px;
  color: var(--gray-2);
  padding: 8px 12px;
  font-size: 12px;
  font-family: "JetBrainsMono NF";
  font-weight: 500;
  margin-top: 4px;
}

/* --- Global Widget --- */
.widget {
  padding: 0 8;
}

.icon {
  font-size: 14px;
}

/* --- GlazeWM Workspaces --- */
.glazewm-workspaces {
  padding-left: 0;
}

.glazewm-workspaces .ws-btn {
  padding: 8;
  background: transparent;
  border: none;
  color: var(--gray-1);
}

.glazewm-workspaces .ws-btn:hover {
  background-color: var(--bg-3);
}

.glazewm-workspaces .ws-btn.active_empty,
.glazewm-workspaces .ws-btn.active_populated {
  background-color: var(--green);
  color: var(--dim);
}

.glazewm-workspaces .ws-btn.active_empty:hover,
.glazewm-workspaces .ws-btn.active_populated:hover {
  background-color: var(--bg-green);
  color: var(--green);
}

/* --- Clock | Calendar --- */
.calendar {
  background-color: rgba(39, 46, 51, 0.3);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
  background-color: rgba(39, 46, 51, 0);
  border: none;
  outline: none;
  color: var(--gray-2);
}

.calendar .calendar-table::item {
  padding-top: 2;
}

.calendar .calendar-table::item:selected {
  color: var(--dim);
  background-color: var(--green);
  border-radius: 4px;
  padding-top: 2;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label,
.calendar .week-label {
  min-width: 160px;
  max-width: 160px;
  font-weight: 700;
}

.calendar .day-label {
  /* (Mon, Tue ... Sun) */
  color: var(--gray-2);
  font-size: 20px;
  margin-top: 16px;
}

.calendar .month-label {
  color: var(--gray-1);
}

.calendar .date-label {
  margin-top: -12px;
  color: var(--green);
  font-weight: 800;
  font-size: 80px;
}

/* --- Systray --- */
.systray {
  background: transparent;
  border: none;
  margin: 0;
  border-left: 4px solid var(--gray-0);
  padding: 0 4;
}

.systray .unpinned-container {
  background-color: transparent;
  border-left: none;
}

.systray .button {
  padding: 4;
  border-radius: 4;
  border: none;
}

.systray .button:hover {
  background: var(--bg-4);
}

.systray .unpinned-visibility-btn {
  background-color: transparent;
  color: var(--gray-2);
  border: none;
  padding: 0 4;
}

.systray .unpinned-visibility-btn:hover {
  background-color: var(--bg-5);
}

.systray .unpinned-visibility-btn:checked {
  color: var(--gray-2);
  background-color: transparent;
}

.systray .unpinned-visibility-btn:checked:hover {
  background-color: var(--bg-4);
}

/* --- Wifi | Menu --- */
.wifi-widget {
  background-color: transparent;
  padding-right: 0;
  border-left: 4px solid var(--gray-0);
}

.wifi-widget .widget-container .label.alt,
.wifi-widget .widget-container .icon {
  color: var(--green);
}

.wifi-menu {
  max-height: 350px;
  min-height: 375px;
  min-width: 350px;
}

.wifi-menu .header {
  background-color: rgba(39, 46, 51, 0.5);
  color: var(--green);
  font-size: 18px;
  padding: 12px 0 8px 16px;
  font-weight: 800;
  border-bottom: 2px solid var(--gray-0);
}

.wifi-menu .progress-bar {
  max-height: 4;
}

.wifi-menu .progress-bar::chunk {
  background-color: var(--green);
}

.wifi-menu .error-message {
  font-weight: 800;
  color: var(--dim);
  background-color: var(--red);
}

.wifi-menu .wifi-list {
  background-color: rgba(39, 46, 51, 0.2);
  padding: 8 12;
}

.wifi-menu .wifi-item {
  padding: 8 12;
  border-radius: 12;
  margin: 4 0;
}

.wifi-menu .wifi-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.wifi-menu .wifi-item .icon {
  margin-right: 4;
  font-size: 24px;
}

.wifi-menu .wifi-item .name {
  font-size: 12px;
  font-weight: 800;
  padding-right: 4;
}

.wifi-menu .wifi-item .password {
  background: transparent;
  font-size: 12px;
  border: none;
  border-bottom: 2px solid var(--gray-2);
}

.wifi-menu .wifi-item .status,
.wifi-menu .wifi-item .strength {
  margin-bottom: 4;
  color: var(--gray-0);
  font-weight: 600;
}

.wifi-menu .wifi-item .connect {
  margin-top: 8;
  border: none;
  border-radius: 8;
  color: var(--green);
  background-color: var(--bg-green);
  padding: 8 12;
}

.wifi-menu .wifi-item .connect:hover {
  color: var(--dim);
  background-color: var(--green);
}

.wifi-menu .wifi-item[active=true] {
  background-color: rgba(255, 255, 255, 0.05);
}

.wifi-menu .wifi-item[active=true] .icon,
.wifi-menu .wifi-item[active=true] .name,
.wifi-menu .wifi-item[active=true] .status,
.wifi-menu .wifi-item[active=true] .strength {
  color: var(--green);
}

.wifi-menu .wifi-item[active=true] .connect {
  color: var(--red);
  background-color: var(--bg-red);
}

.wifi-menu .wifi-item[active=true] .connect:hover {
  color: var(--dim);
  background-color: var(--red);
}


.wifi-menu .footer {
  background-color: rgba(39, 46, 51, 0.2);
  padding: 8px 0;
}

.wifi-menu .footer .settings-button {
  background-color: transparent;
  border: none;
  min-width: 26px;
  min-height: 26px;
  font-weight: 500;
  color: var(--gray-1);
  padding: 0 20px;
}

.wifi-menu .footer .settings-button:hover {
  color: var(--green);
  text-decoration: underline;
  font-weight: 700;
}

.wifi-menu .footer .refresh-icon {
  font-family: "Segoe Fluent Icons";
  background-color: transparent;
  border: none;
  padding: 8;
  margin-right: 16px;
  color: var(--gray-1);
}

.wifi-menu .footer .refresh-icon:hover {
  color: var(--green);
  background-color: var(--bg-green);
  border-radius: 8;
}

/* --- Volume | Audio Menu --- */
.volume-widget {
  background-color: transparent;
  padding-right: 0;
}

.volume-widget .icon {
  color: var(--green);
}

.volume-widget .icon.muted {
  color: var(--gray-1);
}

.volume-widget .label.alt {
  color: var(--green);
  padding-left: 4;
}

.audio-menu {
  background-color: rgba(39, 46, 51, 0.6);
}

.audio-container .device {
  background: transparent;
  border: none;
  border-radius: 4px;
  padding: 4 12;
  margin: 4 0;
}

.audio-container .device.selected {
  background-color: rgba(255, 255, 255, 0.085);
  color: var(--green);
}

.audio-container .device:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

/* --- Battery --- */
.battery-widget {
  background-color: transparent;
  border-right: 4px solid var(--gray-0);
  padding-left: 6;
}

.battery-widget .widget-container .label {
  padding-left: 8;
}

.battery-widget .widget-container .label.status-low {
  color: var(--red);
}

.battery-widget .widget-container .label.status-medium {
  color: var(--yellow);
}

.battery-widget .widget-container .label.status-high {
  color: var(--blue);
}

.battery-widget .widget-container .label.status-full {
  color: var(--green);
}

.battery-widget .widget-container .label.status-charging {
  color: var(--green);
}

.battery-widget .widget-container .icon.status-low {
  color: var(--red);
}

.battery-widget .widget-container .icon.status-medium {
  color: var(--yellow);
}

.battery-widget .widget-container .icon.status-high {
  color: var(--blue);
}

.battery-widget .widget-container .icon.status-full {
  color: var(--green);
}

.battery-widget .widget-container .icon.status-charging {
  color: var(--green);
}

/* --- Weather --- */
.weather-widget {
  padding-right: 0;
}

.weather-widget .icon,
.weather-widget .label.alt {
  color: var(--green);
}

.weather-card {
  background-color: rgba(39, 46, 51, 0.2);
}

.weather-card-today .label.location {
  font-size: 28px;
  font-weight: 800;
  color: var(--green);
}

.weather-card-today .label {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray-0);
}

.weather-card-today .label.alert {
  font-size: 12px;
  font-weight: 700;
  background-color: rgba(247, 199, 42, 0.05);
  border: 1px solid rgba(247, 209, 42, 0.1);
  color: rgba(196, 181, 162, 0.85);
  border-radius: 6px;
  padding: 5px 0;
}

.weather-card-day {
  border: 1px solid var(--bg-5);
  border-radius: 8px;
  background-color: rgba(39, 46, 51, 0.3);
  margin: 8 0 4;
}

.weather-card-day.active {
  border: 1px solid var(--green);
}

.weather-card-day.active .label,
.weather-card-day.active {
  background-color: var(--bg-green);
  color: var(--green);
}

.weather-card-day .label {
  font-size: 12px;
  color: var(--gray-1);
}

.weather-card .hourly-container {
  min-height: 150px;
  border: 1px solid var(--bg-5);
  border-radius: 8px;
  background-color: rgba(39, 46, 51, 0.3);
}

.weather-card .hourly-data {
  color: var(--gray-2);
  background-color: var(--green);
  font-size: 12px;
  font-weight: 700;
}

.weather-widget .icon.sunnyDay,
.weather-widget .icon.cloudyDay,
.weather-widget .icon.rainyDay,
.weather-widget .icon.snowyIcyDay,
.weather-widget .icon.blizzardDay,
.weather-widget .icon.foggyDay,
.weather-widget .icon.thunderstormDay {
  color: var(--orange);
}

.weather-widget .icon.clearNight,
.weather-widget .icon.cloudyNight,
.weather-widget .icon.rainyNight,
.weather-widget .icon.snowyIcyNight,
.weather-widget .icon.blizzardNight,
.weather-widget .icon.foggyNight,
.weather-widget .icon.thunderstormNight {
  color: var(--purple);
}

/* --- Notifications --- */
.notification-widget .icon {
  font-size: 14px;
  padding-right: 2;
  color: var(--gray-0);
}

.notification-widget .icon.new-notification {
  color: var(--green);
}
